
:root {
    --primary-color: #FFFFFF;
    --website-color: #3884bd
}

.menu-links {
    margin-right: 20px;
}

.navbar-column {
    margin: 0 !important;
}

.navbar {
    background-color: var(--website-color) ;

}

#layout{
    margin-bottom: 0;
}
#video{
    padding: 0;
}



.footer {
    background-color: var(--website-color);
    color: var(--primary-color);
    padding: 40px 0;
    text-align: center;
}

.footer-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.footer-logo h2 {
    font-size: 24px;
    margin: 0;
}

.footer-logo p {
    font-style: italic;
}

.footer-links,
.footer-contact,
.footer-social {
    margin: 20px 0;
}

.footer-links ul,
.footer-contact ul,
.footer-social ul {
    list-style: none;
    padding: 0;
}

.footer-links ul li,
.footer-contact ul li,
.footer-social ul li {
    margin: 5px 0;
}

.footer-links ul li a,
.footer-social ul li a {
    color: var(--primary-color);
    text-decoration: none;
}

.footer-links ul li a:hover,
.footer-social ul li a:hover {
    text-decoration: underline;
}


.footer-social ul li a {
    display: flex;
    margin: 10px;
}

.footer_logo {
    filter: invert(100%);
    width: 16px;
}

.footer_logo_text {
    margin: 0 0 0 5px;
    color: var(--primary-color);
}

